@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*:hover {
    transition: all 0.3s;
}
body {
    font-family: 'Roboto Mono', monospace;
    background: #080808;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #00A8FF;
    border-radius: 25px;
}
.backtotop {
    bottom: 20px;
    right: 20px;
    background: #00A8FF;
    width: 38px;
    height: 35px;
    padding: 5px;
    cursor: pointer;
    display: none;
    animation: slideIn linear 0.25s;
}
@keyframes slideIn {
    0% {transform: translateX(200px);}
    100% {transform: translateX(0);}
}
/*header*/
.stickyheader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    z-index: 9999;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
.myheader {
    background-image: url(images/banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.myheader .nav-item a:hover {
    opacity: 0.5;
}
.myheader .nav-item.active a {
    color: #00A8FF !important;
}
.mylogo {
    max-width: 270px;
}
.myheader .nav-link {
    font-size: 16px;
    line-height: 23px;
    font-weight: 500;
    padding: 0 1.4vw !important;
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
}
.myheader .nav-link span {
    position: absolute;
    top: -13px;
    right: 22px;
    font-size: 12px;
    line-height: 1;
    font-weight: 700;
    color: #C5C7C9;
}
.navbar-toggler-icon {
    background-image: unset;
    width: 27px;
    height: 27px;
}
.banner {
    top: 45%;
    transform: translateY(-50%);
}
.banner .mytitle {
    font-family: 'Poppins', sans-serif;
    font-size: 6vw;
    line-height: 1;
    text-shadow: 1px 3px 11px rgba(0,0,0,.3);
}
.banner .mytagline {
    font-size: 16px;
    line-height: 28px;
    overflow: hidden;
    animation: typing linear 5s forwards;
}
@keyframes typing {
    0%   {width: 0%; white-space: nowrap; border-right: 1px solid #fff;}
    50%   {width: 50%; white-space: nowrap; border-right: 1px solid #fff;}
    100% {width: 100%; white-space: normal; border-right: 0;}
}
.viewmore {
    width: 40px;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    animation: movingdown linear 0.25s infinite alternate;
}
@keyframes movingdown {
    0%   {bottom: 52px;}
    50% {bottom: 50px;}
    100% {bottom: 48px;}
}
.closemenu {
    width: 25px;
    right: 18px;
    top: 20px;
}
.show .closemenu {
    display: block !important;
}
.cpbar {
    font-size: 16px;
    line-height: 23px;
    color: #000;
    z-index: 999;
    left: 20px;
    bottom: 12px;
    width: 75%;
    padding-right: 15px;
}
/*About*/
.aboutmedesc ul {
    font-size: 18px;
    line-height: 28px;
}
.aboutmedesc .f1, .aboutmedesc .f4 {
    background-image: linear-gradient(0deg, #DF058D 40%, transparent 0%);
}
.aboutmedesc .f2, .aboutmedesc .f5 {
    background-image: linear-gradient(0deg, #5A72EE 40%, transparent 0%);
}
.aboutmedesc .f3 {
    background-image: linear-gradient(0deg, #FF6B2B 40%, transparent 0%);
}
.skillstitle {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 28px;
}
.codeimg {
    width: 600px;
    background: #080808;
    z-index: -1;
    opacity: 0.18;
    transform: translateX(-50%);
    bottom: -20%;
    filter: blur(1px);
}
/*Experience*/
.experiencetitle, .aboutmetitle {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    line-height: 56px;
}
.worktitle {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 20px;
    background: #5A72EE;
    padding-left: 30px;
    padding-right: 30px;
}
.workdesc {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 23px;
    background: #2b366f;
    padding-left: 30px;
    padding-right: 30px;
}
.experiencetech span {
    font-size: 12px;
    line-height: 18px;
    background: #00a8ff;
    display: inline-block;
    margin-bottom: 12px;
    color: #fff;
}
.accordion-button:not(.collapsed) {
    background-color: #00A8FF;
    box-shadow: none;
}
.accordion-button::after {
    position: absolute;
    right: 15px;
}
/*Projects*/
.myprojects .nav-pills {
    position: sticky;
    top: 15px;
    z-index: 10000;
    background: #080808;
    width: 100%;
}
.myprojects .nav-pills .nav-link, .myprojects .card-title {
    color: #00A8FF;
}
.myprojects .nav-pills .nav-link.active {
    color: #fff;
    background: #00A8FF;
}
.myprojects .modal {
    z-index: 10000;
}
.myprojects .tab-pane div {
    grid-template-columns: auto auto auto;
    column-gap: 40px;
    row-gap: 18px;
}
.myprojects .card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.myprojects .card:hover img {
    filter: brightness(0.6);
}
.myprojects .card:hover .card-text {
    display: none;
}
.myprojects .card:hover .viewproject {
    display: block !important;
    animation: slideUp linear 0.25s;
}
@keyframes slideUp {
    0% {transform: translateY(200px);}
    100% {transform: translateX(0);}
}
.myprojects .card .card-text, .myprojects .card .viewproject {
    font-size: 14px;
    line-height: 20px;
}
.myprojects .card .viewproject:hover {
    color: #00A8FF !important;
}
.myprojects .viewproject:after {
    content: '';
    background: #f9f9f9;
    display: block;
    height: 3px;
    width: 50px;
    position: absolute;
    left: 140px;
    margin-top: -11px;
}
/*Contact*/
.contactinfocol {
    background: #000;
}
.formcol {
    background-image: linear-gradient(250deg, #5a72ee 30%, #00a8ff 100%);
}
.contacttitle {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    line-height: 40px;
}
.contactdesc {
    font-size: 17px;
    line-height: 25px;
}
.contactemail {
    font-size: 24px;
    line-height: 40px;
    background-image: linear-gradient(0deg, #5A72EE 40%, transparent 0%);
    word-break: break-all;
}
.contactemail:hover {
    background-image: linear-gradient(0deg, #5A72EE 100%, transparent 0%);
}
.contactlink {
    font-size: 18px;
    line-height: 30px;
}
.contactlink:hover {
    color: #5A72EE !important;
}
.mycontact .formcol input, .mycontact .formcol textarea {
    font-size: 14px;
    line-height: 23px;
    font-weight: 500;
    border-radius: 5px;
    filter: brightness(0.95);
}
.mycontact .formcol .btn {
    font-size: 16px;
    line-height: 23px;
    background: #000;
    width: 170px;
    padding: 10px;
}
.mycontact .formcol .btn:hover {
    background: rgba(0,0,0,0.9);
}
/*Media Queries*/
@media(min-width:992px) and (max-width:1200px) {
    .myheader .nav-link {
        font-size: 15px;
    }
    .mylogo {
        max-width: 200px;
    }
}
@media(max-width:991px) {
    .banner .mytagline {
        font-size: 15px;
    }
    .viewmore {
        width: 35px;
    }
    .header .navbar {
        position: unset;
    }
    .header .navbar-nav {
        position: absolute;
        width: 80%;
        left: 0px;
        top: 0px;
        background: rgb(249, 249, 249);
        z-index: 999;
        height: 100%;
        padding: 60px 10px;
    }
    .stickyheader .navbar-nav {
        height: 1000px;
    }
    .stickyheader .cpbar {
        display: none;
    }
    .myheader .nav-link {
        color: #000 !important;
        padding: 5px 20px !important;
    }
    .myheader .nav-link span {
        top: 10px;
    }
    .contactcol {
        width: 100% !important;
    }
}
@media(min-width:768px) {
    .workblock {
        width: 85%;
    }
    .worktitle .duration {
        position: relative;
        right: 20px;
    }
}
@media(min-width: 768px) and (max-width: 1200px) {
    .experiencetitle, .aboutmetitle {
        font-size: 36px;
        line-height: 45px;
    }
    .myprojects .tab-pane div {
        grid-template-columns: auto auto;
    }
}
@media(max-width:767px) {
    .mylogo {
        max-width: 200px;
    }
    .contacttitle {
        font-size: 24px;
        line-height: 33px;
    }
    .experiencetitle, .aboutmetitle {
        font-size: 30px;
        line-height: 38px;
    }
    .worktitle {
        flex-direction: column;
        text-align: center;
        font-size: 14px;
        line-height: 25px;
    }
    .skillstitle {
        font-size: 16px;
        line-height: 25px;
    }
    .workdesc {
        font-size: 13px;
        line-height: 20px;
    }
    .aboutmedesc ul {
        font-size: 16px;
        line-height: 22px;
    }
    .codeimg {
        width: 100%;
    }
    .contactemail {
        font-size: 20px;
        line-height: 30px;
    }
    .accordion-button::after {
        bottom: 20px;
    }
    .myprojects .tab-pane div {
        grid-template-columns: auto;
    }
}